.star {
  color: #ff9933;
  cursor: pointer;
}

@keyframes leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert {
  padding: 0.75rem 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  padding-right: 40px;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}

.alert.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.leaving {
  animation: leave 0.5s forwards;
}

.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.75rem;
  color: #333;
  border: 0;
  height: 100%;
  cursor: pointer;
  background: none;
  font-weight: 600;
  font-size: 16px;
}

.alert .close:after {
  content: 'x';
}

.img-fade {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.progress {
  padding: 4px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25),
    inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25),
    inset 0 1px rgba(255, 255, 255, 0.1);
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}

@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100% !important;
}

/* .react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
} */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.big-button {
  @apply rounded-full text-xl px-4 py-1 font-medium text-white bg-purple hover:bg-purple-dark;
}
.react-datepicker__time-list  {
  @apply dark:bg-dark-dark
}
.react-datepicker__input-container input {
  @apply w-full px-3 py-2 border dark:bg-dark-light dark:border-dark-light dark:text-white rounded-md shadow-sm focus:outline-none dark:hover:border-lightGray dark:focus:bg-dark-dark dark:focus:border-purple sm:text-sm focus:border-purple;
}

.react-datepicker__month-container {
  @apply dark:bg-dark-light;
}
.react-datepicker__header {
  @apply dark:bg-dark-dark border-purple border-b-0;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__month-read-view--selected-month,
.react-datepicker__year-read-view--selected-year {
  @apply dark:text-white;
}

.react-datepicker__day {
  @apply dark:text-white dark:hover:bg-purple;
}

.react-datepicker {
  @apply dark:border-purple-dark;
}

.react-datepicker__time-list-item {
  @apply dark:bg-dark-dark dark:text-white dark:hover:bg-purple dark:focus:bg-purple dark:active:bg-purple;
}

.react-datepicker__day-names {
  @apply border-b-2 dark:border-purple-dark dark:text-purple;
}
.react-datepicker__month-dropdown {
  @apply dark:bg-dark-dark dark:text-white dark:border-purple-dark;
}
.react-datepicker__year-dropdown {
  @apply dark:bg-dark-dark dark:text-white w-16 dark:border-purple-dark left-2/3;
}
.react-datepicker__month-dropdown-container {
  @apply dark:bg-dark-dark dark:text-white;
}
.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container {
  @apply mx-4;
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected,
.react-datepicker__day--selected {
  @apply dark:active:bg-purple;
}

.react-datepicker__month-option,
.react-datepicker__year-option,
.react-datepicker__day--selected {
  @apply dark:hover:bg-purple;
}

.react-datepicker__year-option--selected,
.react-datepicker__triangle,
.react-datepicker__time-list-item--disabled {
  @apply hidden;
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item:hover,
.react-datepicker__time-list-item--selected,
.react-datepicker__year-option--selected_year {
  @apply hover:bg-purple bg-purple text-white !important;
}

/* html {
  overflow-y: scroll;
} */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
